.loading_spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  position: absolute;
  width: 100px;
}

.spinner {
  width: 120px;
  height: 120px;

}

