.paywall {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.inner_info {
  width: 293px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: #fff;
  }

}